.mb-0 {
  margin-bottom: 0 !important;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-80 {
  margin-top: 80px;
}

.mtb-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.p-0 {
  padding: 0;
}

.d-inherit {
  display: inherit !important;
}

.text-white {
  color: #fff !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 13px;
}

.ant-layout-header > * {
  height: 100%;
}

.ant-alert {
  margin-bottom: 16px;
}

.ant-picker {
  width: 100%;
}

.ant-page-header-heading-title {
  .text-white();
}

//body > * {
//  height: 100%;
//
//  .ant-layout {
//    height: 100%;
//
//    > .ant-layout-has-sider {
//      height: ~'calc(100% - 72px)';
//
//      .ant-menu-vertical {
//        height: 100%;
//      }
//    }
//  }
//}
